# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# editors settings (optional)
.vscode/
.idea/

# Conf directory
conf/
data_servers/

# Temporary files
*.tmp
*.swp
