
# DISCORD test token for TEST
DISCORD_TOKEN=
DISCORD_CLIENT_ID=


# OpenAI API key for music playlist fether
SPOTIFY_CLIENT_ID=
SPOTIFY_SECRET=


# OpenAI API key for AI chatting
OPENAI_API_KEY=


# additional suggested stuff
YTDL_NO_UPDATE=1